.service-details img {
  height: 400px;
  object-fit: cover;
}

@media only screen and (max-width: 668px) {
  .service-details img {
    height: 200px;
    object-fit: none;
  }
}

@media only screen and (min-width: 669px) and (max-width: 991px) {
  .service-details img {
    height: 300px;
    object-fit: none;
  }
}