.banner-content h1 {
  font-size: 3.5rem;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.color-text {
  color: #3da9fc;
}

.carousel-caption {
  bottom: 0;
  top: 30%;
  left: -9%;
}

.second-caption {
  left: 42%;
}

@media only screen and (max-width: 668px) {
  .carousel-caption {
    top: -4%;
    left: -20%;
    right: 0;
    line-height: 0;
  }
  .second-caption {
    left: 30%;
  }

  .banner-content h1 {
    font-size: 1.4rem;
  }
  .banner-content p,
  .banner-content .regular-btn {
    font-size: 15px;
  }

  .banner-content .regular-btn {
    padding: 5px 10px;
  }
}

@media only screen and (min-width: 669px) and (max-width: 991px) {
  .carousel-caption {
    top: 14%;
    left: -30%;
    right: 0;
  }
  .second-caption {
    left: 30%;
  }

  .banner-content h1 {
    font-size: 2.4rem;
  }
 
}