.not-found {
  background-image: url(../../images/404.png);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.not-found button {
  position: relative;
  top: 600px;
}

@media only screen and (max-width: 668px) {
  .not-found {
    background-origin: content-box;
  }
}